
.pf__card{
    /*height:100%;*/
    position:relative;
    margin-top:10%;
    width:80%;
    left:10%;
    // margin-left:20%;
    
    box-shadow: 4px 2px 40px #7C7B80;
    border-radius: 15px;
    &--fp{
        border:1px rgba(200,200,200,0);
        height:300px;
   /* border-radius: 15px;*/
        border-top-left-radius:15px;
        border-top-right-radius:15px;
        background-color: #33717f;
        z-index:-1;
        &-photo{
            float:left;
            display:inline-block;
            margin-left:10%;
            height:250px;
            border:3px solid #f7e9e3;

            margin-top:70px;
            background-color:#7C7B80;
            z-index:0;
            box-shadow: 1px 2px 5px #7C7B80;
            img{              
                height:250px;
            }
            &:hover{
                transform:translateY(-10px);
            }
        }
        &-others{
            
            height:100%;
            padding-top:10%;
            // padding-left:20%;
            margin-right:-10%;
            text-align: center;
            z-index:0;
            color:#ffffff;
            h1{
                margin-top: 20px;
                padding-bottom: 10px;
                // padding-right:180px;
                line-height:20px;
                font-size: 50px;
            }
            p{
                height:20px;
                padding-bottom: 10px;
            }
            p:hover{
                animation: mymove2 3s ease-in-out infinite;
            }
            @keyframes mymove2 {
                0%{
                    font-size: 8px;
                    content:"Web Designer";
                    
                }
                /*A*/
               50%{
                   font-size:16px;
                }
                
                100%{
                    font-size: 8px;
                }
                
                
               
            
            }
            &-imgbox{
                height:36px;
                margin-top: 20px;
                // position: absolute;
                a{
                    width:30px;
                    height:30px;
                    margin-left: 10px;
                    margin-right: 10px;
                    text-decoration: none;
                    img{
                        border-radius: 50%;
                        background:#ffffff;
                        width:30px;
                        height:30px;
                        margin-left: 10px;
                        margin-right: 10px;
                        box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
                    }
                }
                
            }
        }
    }
    animation:mymove1 1s ease-in;
    @keyframes mymove1 {
        0%{
            left:1000px;
            top:200px;
            
            height:0%;
        }
       100%{
          
          left:10%;
            top:0;
           height:100%;
       }
    }
    &--sp{
        // height:350px;
        padding-bottom: 30%;
        padding-top:60px;
        padding-left:50px;
        padding-right:20px;
        border:1px rgba(200,200,200,0);
        border-bottom-left-radius:15px;
        border-bottom-right-radius:15px;
        /*background-color: #f7e9e3;*/
        background-color: #ffc0c2;
        &-profile1{
            float:left;
            
            width:40%;
           
            h1{
                span{
                    color:#33717f;;
                }
            }
            p{
                color:#758a99;
            }
        }
        &-profile2{
            float:right;
            width:48%;
            margin-top:20px;
            // color:#758a99;
            table{
                tr{
                    height:40px;
                    td:nth-child(1){
                        width:150px;
                        color:#27323a;
                        font-weight:bold;
                        // text-align: center;
                    }
                    
                }
            }
            
        }
    }

}


@media only screen and (max-width: 1120px){
    .pf__card--sp{
        height:100px;
    }
}
@media only screen and (max-width: 1032px){
    .pf__card--fp{
        height:600px;
        align-items: center;
        text-align:center;
        
        &-photo{
            margin-left:0;
            // margin: 0 auto;
            float:none;
            // margin-left:0;
        }
        &-others{
            margin-left:-10%;
            // margin-left:-5%;
        }
    }
    .pf__card--sp{
        height:400px;
        &-profile1{
            width:100%;
            // text-align: center;
            margin-top:-50px;
        }
        &-profile2{
            width:100%;
            margin-top:20px;
            float:left;
        }
    }
}
@media only screen and (max-width: 502px){
    .pf__card{
        width:100%;
        left:0;
        border-radius:0;
        &--fp{
            border-radius:0; 
        }
    }
}